@model IEnumerable<LMS.Common.Models.Library>

@{
    ViewData["Title"] = "LibraryView";
}

<h1>Libraries</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LibraryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LibraryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                
                @Html.ActionLink("Details", "AdminView", new {item.LibraryId }, null)


            </td>
        </tr>
}
    </tbody>
</table>
